<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.6/socket.io.js"></script>
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">

    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script> -->
    <link href="https://fonts.googleapis.com/css?family=Exo:100,200,400,700" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <script src="../static/siriwave.js"></script>
    <script src="../static/youtube.js"></script>
    <script src="../static/sendData.js"></script>

    <title>Music</title>
</head>
<body>

    <div id = "main">
        <div id="title">
            <h1>😀😭😡🤮😱😳😛🎵</h1>
            <h2 id = 'test'>Your Current Emotion</h2>
            <h3 id = 'description'>Welcome User! The camera's watching you! Change your expression to change the song!</h3>
            <p>Made by Team Compiling...</p>
        </div>
        <div id="player"></div>
        <div id="siri-container"></div>
    </div>


    <script>
        var siriWave = new SiriWave({
            container: document.getElementById('siri-container'),
            width: $(document).width(),
            height: 100,
            speed: 0.06,
            color: '#FC0D1B',
            frequency: 3,
            autostart: true
        });
    </script>

</body>
</html>
